<html>
  <head>
    <title>User Center</title>
    <noscript><meta http-equiv="refresh" content="5; url=&#39;<%= @back_url %>&#39;"></noscript>
    <script type="text/javascript">
      function doRedirect() {
        location.replace("<%= @back_url %>");
      }
    </script>
  </head>
  <body onload="doRedirect()">
  <p>Logging Out, Please wait...</p>
  <% @logout_urls.each do |url| %>
    <%= image_tag url, :size => "0x0" %>
  <% end %>
  </body>
</html>