<div id="wrapper">
  <header id="header">
    <h1><a href="/" id="logo"><%= site_name %></a></h1>
  </header>
  <section id="main">
    <h2>Welcome to <%= site_name %></h2>
    <article class="form_login">
      <h2><%= link_to "Private Page", privacy_path %></h2>
      <% unless current_user %>
        <%= render_ajax_login_form %>
      <% end %>
    </article>
  </section>
</div>
