<html>
  <head>
    <title>User Center</title>
    <style type="text/css">
      body {font-family: arial,sans-serif;}
      .body {margin: 0 15px; }
      div.errorbox-good {}
      div.errorbox-bad {}
      div.errormsg { color: red; font-size: smaller; font-family: arial,sans-serif;}
      font.errormsg { color: red; font-size: smaller; font-family: arial,sans-serif;}
    </style>
  </head>
  <body onload="doRedirect()">
  <p><font face="Arial, sans-serif">Logging In, Please wait...</font></p>
  <noscript><meta http-equiv="refresh" content="5; url=&#39;<%= @back_url %>&#39;"></noscript>
  <script type="text/javascript">
    function doRedirect() {
      location.replace("<%= @back_url %>");
    }
  </script>

  <% @sts.each do |st| %>
    <%= image_tag st, :size => "0x0" %>
  <% end %>
  </body>
</html>