<div id="wrapper">
  <header id="header">
    <h1><a href="#" id="logo">MY ASICS</a></h1>
  </header>
  <section id="main">
    <h2>This is private page.</h2>
    <article class="form_login">
      <h2><%= link_to "Home Page", root_path %></h2>
    </article>
  </section>
</div>